<h1> hi this is my html sample page </h1> 
<h1> my name is : {{ Name }} </h1> 
<h1> group: {{ Group }} </h1> 
<h1> date : {{ ansible_date_time.date }} </h1> 
<h1> my domain is : {{ pcName }}.training.sdnog.sd</h1> 
<h1> this html page is run under "{{ ansible_os_family }}" </h1>
<h1>with IP: {{ inventory_hostname }} </h1>
<h1> Thanks Sdnog for the amazing course <3 </h1>
