vi temp.j2
Hi this is a {{ ansible_os_family }} server and {{ File }}
from {{ Name }}
the server ip is : {{ ansible_all_ipv4_addresses }}
im saying hi from my server {{ Name }}
this server name is : {{ ansible_hostname }}
